@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.nunito-style {
  font-family: "Nunito", sans-serif;
}

@layer utilities {
  .icon_color {
    @apply text-white;
  }
}

.bg-gradient {
  background: radial-gradient(
    circle at bottom center,
    white,
    black,
    black,
    black,
    black
  );
  height: 100vh;
  width: 100%;
}

@layer components {
  .logo {
    @apply h-28 w-28 mt-0 ml-6 rounded-[20px] flex justify-center items-center;
  }

  .logo-text {
    @apply text-white ml-2 flex justify-center items-center font-semibold tracking-widest text-2xl;
  }

  .basic_btn1 {
    @apply border-2 border-violet-500 h-12 w-28 rounded-full flex justify-center items-center hover:bg-violet-500;
  }

  .basic_btn2 {
    @apply bg-violet-500 h-12 w-28 rounded-full flex justify-center items-center hover:border-2 hover:border-violet-500 hover:bg-black;
  }

  .get_started {
    @apply rounded-full top-[76%] left-[5%] h-14 w-[25%];
  }

  .subtext {
    @apply pb-2 text-slate-300;
  }

  .topbar-icons {
    @apply cursor-pointer bg-neutral-900 p-4 rounded-[17px] hover:bg-neutral-800 icon-shadow;
  }

  .input-style {
    @apply bg-neutral-800 border rounded-[10px] h-11 p-2;
  }
  .input-style-1 {
    @apply bg-black border rounded-[10px] h-11 p-2;
  }
}

/* text animation */

.title_container span {
  /* transform: translate(-50%, -50%); */
  color: white;
  text-transform: uppercase;
  display: inline-block;
}

.text-style {
  font-size: 60px;
  font-weight: 100;
  letter-spacing: 8px;
  animation: text 3s 1;
}

@keyframes text {
  0% {
    color: black;
    letter-spacing: 8px;
  }
  30% {
    letter-spacing: 25px;
  }
  100% {
    letter-spacing: 8px;
  }
}

/* text animation end */

/* button animation */
/* .basic_btn2 {
  border-top: 2px solid rgb(207, 205, 219);
  border-left: 2px solid rgb(207, 205, 219);
}

.basic_btn2:hover {
  width: 120px;
  height: 55px;
  transition: 0.5s ease-in-out;
}

.basic_btn1:hover {
  width: 120px;
  height: 55px;
  transition: 0.5s ease-in-out; */
/* } */
/* button animation */

.landing_img {
  width: 30%;
  max-width: 500px;
  padding-top: 2%;
  padding-right: 5%;
}

.pie_chart_img {
  width: 7%;
  top: -10%;
  right: 30%;
}

.clock_img {
  width: 10%;
  top: 100%;
  right: 23%;
}

.robot_2_img {
  width: 12%;
  top: 37%;
  right: 32%;
}

.robot_1_img {
  width: 12%;
  top: 110%;
  right: 3%;
}

.bg_img {
  background: url("/assets/images/starry_night.jpg");
}

.swipe_btn {
  background-color: rgba(255, 255, 255, 0.1);
  color: rgba(255, 255, 255, 0.5);
  font-weight: 100;
  letter-spacing: 2px;
  border-top: 1px solid rgba(255, 255, 255, 0.25);
  border-left: 1px solid rgba(255, 255, 255, 0.25);
  padding-left: 120px;
  transition: 2s;
  display: inline-flex;
  font-size: 17px;
}

.swipe_btn:hover {
  padding-left: 20px;
  color: rgba(255, 255, 255, 1);
}

.arrow {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  left: 3px;
  top: 3px;
  width: 100px;
  height: 48px;
  font-size: 25px;
  color: "#fff";
  background: rgb(143, 141, 222);
  border-radius: 50px;
  border-top: 1px solid rgba(255, 255, 255, 0.25);
  border-left: 1px solid rgba(255, 255, 255, 0.25);
  transition: 2s ease-in-out;
}

.swipe_btn:hover .arrow {
  left: calc(100% - 105px);
  box-shadow: 0 0 10px rgba(143, 141, 222, 0.7);
  transition: 2s ease-in-out;
}

.right-shadow {
  box-shadow: 0px 0 10px 0px rgba(0, 0, 0, 3);
}

.icon-shadow {
  background: rgb(38 38 38);
  box-shadow: inset -4px -4px 9px #0e0e0e, inset 4px 4px 9px #202020;
}

.purple_shadow {
  box-shadow: inset 8px 8px 14px #8041bb, inset -8px -8px 10px #d06bff;
}

.red_shadow {
  box-shadow: inset 6px 6px 12px #ddb0b0, inset -6px -6px 12px #ffe4e4;
}

.red_shadow_2 {
  box-shadow: inset 6px 6px 14px #9b2c2c, inset -6px -6px 14px #ff5c5c;
}

.yellow_shadow {
  background: #f09719;
  box-shadow: inset 4px 4px 10px #9c6210, inset -4px -4px 10px #ffcc22;
}

.green_shadow {
  background: #2de671;
  box-shadow: inset 6px 6px 14px #1d9649, inset -6px -6px 14px #3dff99;
}

.hover-shadow:hover {
  box-shadow: 0.7px 0.7px 1px 1px rgba(0, 0, 0, 0.5);
}

.hover_img {
  transition: 1s;
}

.hover_img:hover {
  margin-top: -20%;
  margin-left: 20%;
  transition: 1s ease-in-out;
}

.bg_shadow {
  box-shadow: inset 12px 12px 12px #141441, inset -12px -12px 12px #26287d;
}

.project_shadow {
  box-shadow: inset 7px 7px 11px #bf9898, inset -7px -7px 11px #fffdfd;
}

.normal_shadow {
  box-shadow: inset 10px 10px 10px #acc5e5, inset -10px -10px 10px #d2f1ff;
}

.medium_shadow {
  box-shadow: inset 7px 7px 7px #c2a2e5, inset -10px -10px 7px #eec6ff;
}

.high_shadow {
  box-shadow: inset 7px 7px 7px #e5b6b6, inset -10px -10px 7px #ffdede;
}

.red_shadow_btn {
  box-shadow: inset 3px 3px 7px #8b1818, inset -3px -3px 7px #ff3434;
}

.scrollable-div {
  height: calc(94vh - 4rem);
  overflow-y: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.scrollable-div-2 {
  height: calc(50vh - 4rem);
  overflow-y: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.scrollable-div-3 {
  height: calc(29vh - 4rem);
  overflow-y: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.scrollable-div-4 {
  height: calc(83vh - 4rem);
  overflow-y: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.scrollable-div-5 {
  height: calc(70vh - 4rem);
  overflow-y: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.scrollable-div::-webkit-scrollbar {
  display: none;
}

@media (max-width: 768px) {
  .landing_img {
    width: 50%;
  }

  .pie_chart_img {
    width: 13%;
    top: -20%;
    right: 50%;
  }

  .clock_img {
    width: 17%;
    right: 37%;
  }

  .robot_2_img {
    width: 20%;
    right: 55%;
  }

  .robot_1_img {
    width: 20%;
    top: 110%;
  }
}

@media (max-width: 480px) {
  .landing_img {
    width: 90%;
  }

  .phone_img,
  .pie_chart_img,
  .clock_img,
  .robot_2_img,
  .robot_1_img {
    width: 30%;
  }
}
